

/* 时间 */
.shiy{
    width: 1262px;
    height: 300px;
    overflow: hidden
}
#yinxiangy h1{
 font-size: 27px;
 margin-bottom:15px ;
}
#beiy img{
    margin-left: -300px;
    height: 300px;
}
#yinxiangy{
    position: absolute;
    top: -200px; 
    left: 1270px;
    color: white;
    animation: start 2s forwards;
}
@keyframes start{
    0%{

    }
    100%{
        top: 175px;
        left: 850px;
    }
}



#yinxiangy p span{
    background-color: #F9D29A;
    padding: 5px;
    display: inline;
    color: white;
}




/* nav */
.dmxy{
    width: 1535px;
    height:350px;
    background:url(../img/original.jpg) no-repeat center top;
    margin: 0 auto;
}
.mxy ul{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 100px;
    margin-top: 40px;
    animation:  huanz 3s linear forwards;
}
.dmxy ul li{
    padding-top: 20px;
    font-size: 20px;
    color: white;
}
.dmxy ul li:nth-of-type(1){
    font-size: 30px;
} 
.dmxy ul li:nth-of-type(2) span{
    background-color: #f8d198;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 5px;
}
.dmxy ul li:nth-of-type(3){
    font-size: 16px;
} 
.dmxy ul li:nth-of-type(3) span{
    color: rgb(236, 10, 21);
} 
.dmxy ul li:nth-of-type(4) button{
    width: 200px;
    height: 40px;
    background-color: #fe5341;
    color: white;
    border: none;
}
@keyframes huanz{
    0%{
       transform: translateX(80px) translateY(-100px);
    }
    50%{
        transform: translateX(60px) translateY(-20px) ;
    }
    100%{
        transform: translateX(0px) translateY(0px) ;
    }
}
.dmxy ul{
    width: 400px;
    height: 300px;
    float: right;
    margin-right: 100px;
    margin-top: 40px;
    animation:  huanz 3s linear forwards;
}

/* nav */
.sylc{
    box-sizing: border-box;
    width: 1000px;
    height: 120px;
    background-color: #F0F0F0;
    margin: 10px auto;
}
.sylc>p{
    position: absolute;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    font-size: 26px;
    border-left: 4px solid red;
   
}
.kaifang{
    
    border-bottom: 4px solid red;
}

.sylc>ul{
    display: inline-block;
    padding-top: 32px; 
    margin-left: 118px;   
  
}
.sylc ul li{
    float: left;
    margin-left: 120px;
    font-size: 14px;
}

/* 主题 */
article{
    width: 1000px;
   margin: 50px auto;
}
h2{
    border-left: 5px solid #FE5341;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
h4{
    margin-bottom: 20px;
    color: red;
}
article p{  
    width: 600px;
    font-size: 13px;
    margin-bottom: 20px; 
}
article img{
    width: 700px;
}
h5{
    margin-bottom: 20px;
    color: #0070C0; 
}

#yuany{
    color: #0177A7;
}

ol li span{
    font-weight: 800;
}
ol{
    margin-bottom: 20px;
    font-size: 13px;
}


/* 热门试用 */
.shiyongy{
    margin-left: 250px;
}
.shiyongy h3{
    margin-left: 20px;
}

.tuy{
    display: inline-block;
    margin: 12px;
    width: 240px;
    text-align: center;
    position: relative;
    border: 1px solid rgb(236, 231, 231);
    border-radius: 11px;
    
}
.tuy .miany img{
    width: 240px;
    border-radius: 10px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
}
.tuy>span{
    width: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    color: #CCCCCC;
}

.shouy{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    border-radius: 0px 10px 0px 10px;
    width: 50px;
    color: whitesmoke;
    background-color: crimson;
}


.xiangy{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    border-radius: 0px 10px 0px 10px;
    width: 120px;
    color: #C6A96A;
    background-color: #FBF4CB;

}

.sheny{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sheny>span{
    color: red;
}

.shengy{
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.tuy .my,.tuy .ny{
    color: red;
    border: 1px solid red;
}
.tuy .mny{
    color: red;
}

 .aly .shengy{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #CCCCCC;
}

 .aly .my, .aly .ny{
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
}
.aly .mny{
    color: #CCCCCC;
}

.aty .shengy{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8FC97B;
}

.aty .my,.aty .ny{
    color: #8FC97B;
    border: 1px solid #8FC97B;
}
.aty .mny{
    color: #8FC97B;
}

/* <!-- 左右导航扩展 --> */

aside{
   position: absolute;
   right: 180px;
   top: 620px;
    width: 250px;
}

aside h2{
    border-left: 5px solid #FE5341;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

aside h1{
    color: red;
    font-size: 50px;
    margin-bottom: 20px;
}
aside img{
    width: 200px;
}

aside h4{
    color: #000;
}
aside p{
    color: #ccc;
    font-size: 13px;
}
button{
    background-color: red;
    color: white;
    width: 205px;
    height: 50px;
    border: none;
   margin-bottom: 20px;
   border-radius: 10px;
}